{% extends "index.html" %} {% block title %}Login{% endblock %} {% block content
%}

<div class="page-container">
  <div class="form-container">
    <form method="post" class="mt-5">
      {{ form.csrf_token }}
      <div class="container">
        <div class="mb-3">
          <div class="d-flex gap-2 col-12">
            <a
              href="{{ url_for('cars.homepage') }}"
              class="btn btn-primary btn-size"
              >Back</a
            >
          </div>

          <div class="flash-text-authorization">
            {% for category, message in
            get_flashed_messages(with_categories=true) %}
            <p><span class="{{ category }}">{{ message }}</span></p>
            {% endfor %}
          </div>

          <div class="authorization-div">
            <h1 class="authorization-main-text">Login to your account.</h1>
            <p class="filter-text">
              Don’t have account? Register
              <a
                class="authorization-form-a-text"
                href="{{ url_for('users.registration') }}"
                >here.</a
              >
            </p>
          </div>

          <label for="username" class="form-label"
            >{{ form.username.label.text }}</label
          >
          {{ form.username(class="form-control", id="username") }} {% if
          form.username.errors %}
          <div class="form-text text-danger">
            {% for error in form.username.errors %} {{ error }} {% endfor %}
          </div>
          {% endif %}
        </div>

        <div class="mb-3">
          <label for="password" class="form-label"
            >{{ form.password.label.text }}</label
          >
          {{ form.password(class="form-control", id="password") }} {% if
          form.password.errors %}
          <div class="form-text text-danger">
            {% for error in form.password.errors %} {{ error }} {% endfor %}
          </div>
          {% endif %}
        </div>

        <div class="mb-3 form-check">
          {{ form.remember(class="form-check-input", id="remember") }}
          <label class="form-check-label small-text" for="remember"
            >{{ form.remember.label.text }}</label
          >
        </div>

        <div class="d-flex gap-2 col-12">
          <button type="submit" class="btn btn-primary btn-size">
            {{ form.submit.label.text }}
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="login-image-container">
    <img
      src="{{ url_for('static', filename='images/login_page_photo.jpg') }}"
      alt="Login Page Image"
    />
  </div>
</div>
{% endblock %}
